@import './theme.css';

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#apps-list {
    margin-top: 76px;
    flex-direction: column;
}

.update-card {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: calc(100% - 32px);
    max-width: 900px;
    user-select: none;
}

#redirect-to-release {
    font-size: 0.8em;
}

.update-dialog h3 {
    margin: 10px 0;
    margin-top: 0;
}

.changelog ul {
    padding-left: 15px;
    margin: 0;
}

.changelog a {
    color: var(--md-sys-color-primary);
    cursor: default;
}

.install,
.reboot {
    display: none;
}

.card {
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 4px;
    width: calc(100% - 32px);
    max-width: 900px;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--md-sys-color-surface-container);
    transition: background-color 0.1s ease;
    position: relative;
    overflow: hidden;
}

.card.selected {
    background-color: var(--md-sys-color-tonal-surface);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.checkbox {
    margin: 0;
    flex-shrink: 0;
}

.name {
    display: flex;
    align-items: center;
    margin: 0;
    flex: 1 1 auto;
    min-width: 0;
    user-select: none;
    pointer-events: none;
}

.app-info {
    text-align: initial;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 4px;
    min-width: 0;
}

[dir="rtl"] .app-info {
    margin-right: unset;
    margin-left: 12px;
}

.app-icon-container {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    margin-right: 12px;
    position: relative;
    pointer-events: none;
}

[dir="rtl"] .app-icon-container {
    margin-right: unset;
    margin-left: 12px;
}

.app-name,
.package-name {
    display: block;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.app-name {
    display: inline;
    color: var(--md-sys-color-on-surface);
    font-size: 1.1em;
}

.package-name {
    color: var(--md-sys-color-outline);
    font-size: 0.9em;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--md-sys-color-surface-container), var(--md-sys-color-surface-container-high), var(--md-sys-color-surface-container));
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear;
    border-radius: 6px;
}

.app-icon {
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.mode-options {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    user-select: none;
    --md-sys-color-on-surface: var(--md-sys-color-primary);
    --md-sys-color-on-surface-variant: var(--md-sys-color-primary);
}

.mode-option {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.2em;
}

.mode-generated,
.checkbox-checked-generate {
    --md-sys-color-primary: #36DB2B;
}

.mode-generated {
    --md-sys-color-on-surface: #36DB2B;
    --md-sys-color-on-surface-variant: #36DB2B;
}

.mode-hack,
.checkbox-checked-hack {
    --md-sys-color-primary: #FF8400;
}

.mode-hack {
    --md-sys-color-on-surface: #FF8400;
    --md-sys-color-on-surface-variant: #FF8400;
}
