@import url('https://mui.kernelsu.org/internal/insets.css');
@import url('https://mui.kernelsu.org/internal/colors.css');

:root {
    --top-inset: var(--window-inset-top, 0px);
    --bottom-inset: var(--window-inset-bottom, 0px);

    --md-focus-ring-color: transparent;

    --md-sys-color-primary: var(--primary, #6750A4);
    --md-sys-color-on-primary: var(--onPrimary, #FFFFFF);
    --md-sys-color-primary-container: var(--primaryContainer, #EADDFF);
    --md-sys-color-on-primary-container: var(--onPrimaryContainer, #4F378B);
    --md-sys-color-secondary: var(--secondary, #625B71);
    --md-sys-color-on-secondary: var(--onSecondary, #FFFFFF);
    --md-sys-color-secondary-container: var(--secondaryContainer, #E8DEF8);
    --md-sys-color-on-secondary-container: var(--on-secondaryContainer, #4A4458);
    --md-sys-color-tertiary: var(--tertiary, #7D5260);
    --md-sys-color-on-tertiary: var(--onTertiary, #FFFFFF);
    --md-sys-color-tertiary-container: var(--tertiaryContainer, #FFD8E4);
    --md-sys-color-on-tertiary-container: var(--onTertiaryContainer, #633B48);
    --md-sys-color-error: var(--error, #B3261E);
    --md-sys-color-on-error: var(--onError, #FFFFFF);
    --md-sys-color-error-container: var(--errorContainer, #F9DEDC);
    --md-sys-color-on-error-container: var(--onErrorContainer, #8C1D18);
    --md-sys-color-background: var(--background, #FEF7FF);
    --md-sys-color-on-background: var(--onBackground, #1D1B20);
    --md-sys-color-tonal-surface: var(--tonalSurface, #ECE6F0);
    --md-sys-color-surface: var(--surface, #FEF7FF);
    --md-sys-color-on-surface: var(--onSurface, #1D1B20);
    --md-sys-color-surface-variant: var(--surfaceVariant, #E7E0EC);
    --md-sys-color-on-surface-variant: var(--onSurfaceVariant, #49454F);
    --md-sys-color-outline: var(--outline, #79747E);
    --md-sys-color-outline-variant: var(--outlineVariant, #CAC4D0);
    --md-sys-color-shadow: var(--shadow, #000000);
    --md-sys-color-inverse-surface: var(--inverseSurface, #322F35);
    --md-sys-color-inverse-on-surface: var(--inverseOnSurface, #F5EFF7);
    --md-sys-color-inverse-primary: var(--inversePrimary, #D0BCFF);
    --md-sys-color-surface-bright: var(--surfaceBright, #FEF7FF);
    --md-sys-color-surface-dim: var(--surfaceDim, #DED8E1);
    --md-sys-color-surface-container: var(--surfaceContainer, #F3EDF7);
    --md-sys-color-surface-container-lowest: var(--surfaceContainerLowest, #FFFFFF);
    --md-sys-color-surface-container-low: var(--surfaceContainerLow, #F7F2FA);
    --md-sys-color-surface-container-high: var(--surfaceContainerHigh, #ECE6F0);
    --md-sys-color-surface-container-highest: var(--surfaceContainerHighest, #E6E0E9);
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: var(--primary, #D0BCFF);
        --md-sys-color-on-primary: var(--onPrimary, #381E72);
        --md-sys-color-primary-container: var(--primaryContainer, #4F378B);
        --md-sys-color-on-primary-container: var(--onPrimaryContainer, #EADDFF);
        --md-sys-color-secondary: var(--secondary, #CCC2DC);
        --md-sys-color-on-secondary: var(--onSecondary, #332D41);
        --md-sys-color-secondary-container: var(--secondaryContainer, #4A4458);
        --md-sys-color-on-secondary-container: var(--onSecondaryContainer, #E8DEF8);
        --md-sys-color-tertiary: var(--tertiary, #EFB8C8);
        --md-sys-color-on-tertiary: var(--onTertiary, #492532);
        --md-sys-color-tertiary-container: var(--tertiaryContainer, #633B48);
        --md-sys-color-on-tertiary-container: var(--onTertiaryContainer, #FFD8E4);
        --md-sys-color-error: var(--error, #F2B8B5);
        --md-sys-color-on-error: var(--onError, #601410);
        --md-sys-color-error-container: var(--errorContainer, #8C1D18);
        --md-sys-color-on-error-container: var(--onErrorContainer, #F9DEDC);
        --md-sys-color-background: var(--background, #141218);
        --md-sys-color-on-background: var(--onBackground, #E6E0E9);
        --md-sys-color-tonal-surface: var(--tonalSurface, #2B2930);
        --md-sys-color-surface: var(--surface, #141218);
        --md-sys-color-on-surface: var(--onSurface, #E6E0E9);
        --md-sys-color-surface-variant: var(--surfaceVariant, #49454F);
        --md-sys-color-on-surface-variant: var(--onSurfaceVariant, #CAC4D0);
        --md-sys-color-outline: var(--outline, #938F99);
        --md-sys-color-outline-variant: var(--outlineVariant, #49454F);
        --md-sys-color-shadow: var(--shadow, #000000);
        --md-sys-color-inverse-surface: var(--inverseSurface, #E6E0E9);
        --md-sys-color-inverse-on-surface: var(--inverseOnSurface, #322F35);
        --md-sys-color-inverse-primary: var(--inversePrimary, #6750A4);
        --md-sys-color-surface-bright: var(--surfaceBright, #3B383E);
        --md-sys-color-surface-dim: var(--surfaceDim, #141218);
        --md-sys-color-surface-container: var(--surfaceContainer, #211F26);
        --md-sys-color-surface-container-lowest: var(--surfaceContainerLowest, #0F0D13);
        --md-sys-color-surface-container-low: var(--surfaceContainerLow, #1D1B20);
        --md-sys-color-surface-container-high: var(--surfaceContainerHigh, #2B2930);
        --md-sys-color-surface-container-highest: var(--surfaceContainerHighest, #36343B);
    }
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/material-symbols-outlined.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
